<header>
    <h1>Register</h1>
</header>


<p id="error">{{error}}</p>

<form action="/register" id="registration-form" method="POST">
    <label for="emailAddressInput">Email</label>
    <input name="emailAddressInput" id="emailAddressInput" type="email">
    <br>
    <label for="usernameInput">Username</label>
    <input name="usernameInput" id="usernameInput" type="text">
    <br>
    <label for="passwordInput">Password</label>
    <input name="passwordInput" id="passwordInput" type="password">
    <br>
    <label for="confirmPasswordInput">Confirm Password</label>
    <input name="confirmPasswordInput" id="confirmPasswordInput" type="password">
    <input class="submit" type="submit">
</form>

<p>Already have an account? <a href="/login">Click here to login to RateMyStevens!</a></p>