<h1>Add Course</h1>

<p id="error">{{error}}</p>

<form action="/addCourse" id="course-form" method="POST">
    <label for="courseNameInput">Course Name</label>
    <input name="courseNameInput" id="courseNameInput" type="text">
    <input class="submit" type="submit">
</form>