<h1>Add Professor</h1>

<p id="error">{{error}}</p>

<form action="/addProfessor" id="professor-form" method="POST">
    <label for="professorFirstNameInput">Professor First Name</label>
    <input name="professorFirstNameInput" id="professorFirstNameInput" type="text">
    <label for="professorLastNameInput">Professor Last Name</label>
    <input name="professorLastNameInput" id="professorLastNameInput" type="text">
    <input class="submit" type="submit">
</form>