<form action="/create" id="create-form" method="POST">
    <p>In This spot we should query for all courses/professors and add dropdowns accordingly</p>
    <input class="submit" type="submit">
</form>

<a href="/main">Back</a>