<form action="/create" id="create-form" method="POST">
    <label for="courseInput">Course</label>
    <select name="courseInput" id="courseInput">
        {{#each courses}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
    <input class="submit" type="submit">
</form>

<a href="/main">Back</a>