<header>
    <h1>Home This Is Added To Show CICD</h1>
</header>

<p id="message">{{message}}</p>
<p>Welcome to the main part of RateMyStevens, {{username}}. Your email is {{email}}.</p>
<p>This web application allows students to review courses and professors! Please choose from the below options:</p>

<a href="/create">Make a review</a>
<br>
<a href="/delete">Delete a review</a>
<br>
<a href="/addCourse">Add course</a>
<br>
<a href="/addProfessor">Add professor</a>
<br>
<a href="/prof">Professor Reviews</a>
<br>
<a href="/course">Course Reviews</a>
<br>
<a href="/bestProfessors">Find Best Professor</a>
<br>
<a href="/chatSelect">Chat With Classmates</a>
<br>
<a href="/logout">Logout</a>
<br>
{{#if admin}}
<a href="/admin">Admin</a>
{{/if}}
<br><br><br>
<h3>Check to see if a professor is in our database!</h3>
<p id="error"></p>
<form id="professorExists">
    <label for="professorName">Professor Name</label>
    <input name="professorName" id="professorName">
    <input id="professorSearch" type="submit">
</form>
<p id="existResponse"></p>
