<h1>Home</h1>

<p>Welcome to the main part of the site, {{username}}. Your email is {{email}}.</p>

<p>Choose from the below options:</p>

<a href="/create">Make a review</a>
<br>
<a href="/addCourse">Add course</a>
<br>
<a href="/addProfessor">Add professor</a>
<br>
<a href="/prof">Professor Reviews</a>
<br>
<a href="/course">Course Reviews</a>
<br>
<a href="/bestProfessors">Find Best Professor</a>
<br>
<a href="/logout">Logout</a>