<main>
    <form action="/prof" id="prof-select" method="POST">
        <h1>{{title}}</h1>
        <label for="professorNameInput">Professor</label>
        <select name="professorNameInput" id="professorNameInput">
            {{#each professor}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="submit" class="submit"></input>
    </form>
</main>


<a href="/home">Back</a>