
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5DC;
}

.input-container {
    display: block;
    margin-bottom: 15px;
}

input {
    color: #333;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-style: normal;
}

p {
    color: #555;
    font-weight: bold;
}

label {
    font-style: italic;
    color: #000002;
    display: inline-block;
    padding: 10px;
}

h1 {
    border-top: 1px solid #9b59b6;
    border-bottom: 1px solid #9b59b6;
    background-color:#f4dfee;
    padding: 30px;
    color: #9b59b6;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: #d35400;
}

h3 {
    border-top: 1px solid #9b59b6;
    border-bottom: 1px solid #9b59b6;
    padding: 10px;
    color: #9b59b6;
    font-weight: bold;
}

p:first-child {
    color: #ae2778;
    font-weight: bolder;
}

p:last-child {
    color: #3498db;
    font-weight: normal;
    text-decoration: underline;
}

a {
    color: #9b59b6;
    text-decoration: none;
    margin: 10px 0;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:active {
  opacity: 1;
  cursor: default;
}

li {
    color: #c0392b;
}

.review {
    border: 2px solid black;
    border-radius: 32px;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightgrey;
}

.review p {
  color: black;
}

.review input {
  color: black;
  font-weight: bold;
  width: 90px;
  height: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
}

.review input:hover {
  opacity: 0.7;
  cursor: pointer;
}

.review input:active {
  opacity: 1;
  cursor: default;
}

.professor {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 32px;
}

#message {
    background-color: darkgreen;
    color: rgb(115, 250, 115);
    text-align: center;
}

#message:not(:empty) {
    padding: 10px;
}

#error {
  color: red;
  text-align: center;
}

#reviewTextInput {
  resize:none;
  width: 300px;
  padding: 5px;
  height: 150px;
  color: black;
  font-size: 1.2em;
}

#create-form-submit {
  color: black;
  font-weight: bold;
  width: 90px;
  height: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
}

#create-form-submit:hover {
  opacity: 0.7;
  cursor: pointer;
}

#create-form-submit:active {
  opacity: 1;
  cursor: default;
}

#chat-container p {
  color: rgb(79, 76, 76);
  text-decoration: none;
}

.chat-username {
  font-weight: bold;
  color: black;
}